<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GRG</title>
    <link href="~/lib/notiflix/notiflix-3.2.7.min.css" rel="stylesheet" />
    <link href="~/lib/leaflet/leaflet.min.css" rel="stylesheet" />
    <link href="~/lib/leaflet.markercluster/markercluster.default.min.css" rel="stylesheet" />
    <link href="~/lib/leaflet.markercluster/markercluster.min.css" rel="stylesheet" />
    <link href="~/cust/map.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
</head>
<body>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/vue/vue.global.min.js"></script>
    <script src="~/lib/notiflix/notiflix-3.2.7.min.js"></script>
    <script src="~/lib/leaflet/leaflet.min.js"></script>
    <script src="~/lib/leaflet.markercluster/leaflet.markercluster.min.js"></script>
    <script src="~/cust/MapRenderHelper.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
